header, footer, article, aside, figure, figcaption, main, nav, section {
	display: block;
}
body {
	width:  85.375em;
	margin-left: auto;
	margin-right: auto;
	font-family: Halvetica, Arial, sans-serif;
	font-size: 1em;
	background-color: #e4e4e4;
}
.banner {
	background-color: red;
	padding: 1em 1.5em;
	background-color: white;
}
.banner > h5 {
	color: red;
	padding-top: 0;
}
.banner > img {
	padding-bottom: 0;
}
nav {
	background-color: #b71c1c;
	padding: 0.3em;
	margin-top: 0.1em;
}
nav  li a {
	color: white;
}
nav  li {
	display: inline;
	font-size: 1em;
	font-weight: bold;
	font-family: Oswald,sans-serif;

}
nav  ul  li  a {
	text-decoration: none;
	color: #e4e4e4;
}
nav ul li a:hover {
	color: white;
}
footer nav {
	margin-top: 0.125em;
	margin-bottom: 0.125em;
	height: 2.5em;
	border-top: 0.0625em solid #e4e4e4;
	border-bottom: 0.0625em solid #e4e4e4;

	background-color: white;
	text-align: center;
	
}
footer li {
	display: inline;
	font-size: 1em;
	font-weight: bold;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	font-family: Oswald,sans-serif;
}
footer nav ul li a {
	color: #959595;
	text-decoration: none;
}
footer nav ul li a:hover {
	color: black;
}
figure {
	padding: 1em;
	margin: 0;
}
main section article section {
	margin-left: 5em;
	padding: 0;
	margin-right: 1em;
	font-size: 1.2em;
}
main {
	background: white;
	margin: 0.5em;
}
main section h3 {
	text-align: center;
	border: 0.0625em solid black;
	background-color: #bbbbbb;
}
main section article header {
	padding-left: 1em;
}
main section article {
	padding: 1em;
}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
td {
	border: 0.0625em solid black;
	text-align: left;
	padding: 0.5em;
}
th {
	font-style: italic;
	border-top: 0.0625em solid black;
	text-align: center;
	font-weight: bold;
}

